name: Reusable Build

# SPDX-License-Identifier: MIT
# Copyright (c) 2025 scalable_echo_server_demo contributors

on:
  workflow_call:
    inputs:
      build_dir:
        required: false
        type: string
        default: build
      artifact_name:
        required: false
        type: string
        default: build-artifacts
      config:
        required: false
        type: string
        default: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -B ${{ inputs.build_dir }} -S . -DCMAKE_BUILD_TYPE=${{ inputs.config }}

      - name: Build
        run: cmake --build ${{ inputs.build_dir }} --config ${{ inputs.config }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}
          path: ${{ inputs.build_dir }}
