name: Reusable Build

# SPDX-License-Identifier: MIT
# Copyright (c) 2025 WinUDPShardedEcho contributors

on:
  workflow_call:
    inputs:
      build_dir:
        required: false
        type: string
        default: build
      artifact_name:
        required: false
        type: string
        default: build-artifacts
      config:
        required: false
        type: string
        default: Release
      repository: # Default to this repository if not provided
        required: false
        type: string
        default: alan-jowett/WinUDPShardedEcho
      ref:
        required: false
        type: string
        default: main
      

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository }}
          fetch-depth: 0
          ref: ${{ inputs.ref }}

      - name: Configure CMake
        run: cmake -B ${{ inputs.build_dir }} -S . -DCMAKE_BUILD_TYPE=${{ inputs.config }}

      - name: Build
        run: cmake --build ${{ inputs.build_dir }} --config ${{ inputs.config }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}
          path: ${{ inputs.build_dir }}
